/* -------------------------------- variables ------------------------------- */
:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: #e38b29;
  --text-black: #212529;
  --text-gray: #8a8a8a;
  --text-white: #ffffff;
  --bg-gray: #f9fafb;
  --swiper-theme-color: #e38b29;
}

/* -------------------------------- reset css ------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-black);
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

/* ------------------------------ common styles ----------------------------- */
.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: auto;
  width: 100%;
}

.btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  &.primary {
    color: var(--text-white);
    background: var(--primary-color);
  }
  &.secondary {
    color: var(--primary-color);
    background: var(--text-white);
  }
}

span {
  &.highlight {
    color: var(--primary-color);
    font-weight: 600;
  }
}

.section-title {
  font-size: 40px;
  line-height: 50px;
}

p {
  &.desc {
    color: var(--text-gray);
    line-height: 28px;
  }
}

/* ------------------------------ header styles ----------------------------- */
header {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.01), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 10;
  & > nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 12px;
    .logo {
      width: 160px;
      img {
        max-width: 100%;
      }
    }
    .nav-content {
      display: flex;
      align-items: center;
      column-gap: 40px;
      .nav-links {
        display: flex;
        align-items: center;
        column-gap: 32px;
        a {
          font-weight: 600;
          color: #000000a6;
          &.active {
            color: var(--primary-color);
          }
        }
      }
      .nav-actions {
        button {
          font-weight: 600;
          padding: 10px 48px;
        }
      }
    }
  }
}

/* ----------------------------- section styles ----------------------------- */
#introSection {
  .container {
    display: flex;
    column-gap: 100px;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 24px;
      .section-title {
        font-weight: 500;
      }
      .desc {
        text-wrap: balance;
      }
    }
  }
}

#ourClients {
  padding: 24px 0 48px;
  .container {
    display: flex;
    align-items: center;
    column-gap: 100px;

    .reviews {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      h3 {
        text-wrap: nowrap;
        font-size: 16px;
        font-weight: 400;
        span {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .swiper1 {
      max-width: 65%;
      width: 100%;
      height: 100px;

      .swiper-slide {
        width: 250px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0);
        }

        img {
          display: block;
          width: 250px;
          height: 100px;
          object-fit: contain;
        }
      }
    }
  }
}

#successStories {
  background: var(--bg-gray);
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  .container {
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .section-title {
        font-weight: 300;
      }
    }
  }
  .swiper2 {
    padding: 0 12px;
    width: 90%;
    margin: auto;
    height: 324px;

    .swiper-slide {
      .card {
        height: 100%;
        box-sizing: border-box;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 24px;
        row-gap: 24px;

        h3 {
          font-weight: 500;
          font-size: 20px;
          color: var(--primary-color);
          line-height: 24px;
        }

        ul {
          li {
            font-size: 12px;
          }
        }

        img {
          display: block;
          height: 81px;
          object-fit: contain;
          margin: auto;
        }
      }
    }
  }
}

#services {
  padding: 48px 0;
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .section-title {
        font-weight: 300;
      }
    }
    .tabbing {
      display: flex;
      column-gap: 60px;
      .tabs {
        background: #f9fafb;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        .tab {
          flex-grow: 1;
          /* overflow: hidden; */
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(0, 0, 0, 6%);
          padding: 12px 16px;
          cursor: pointer;
          .tab-title {
            font-weight: 500;
            font-size: 20px;
            svg {
              display: none;
            }
          }
          .m-tab-content {
            display: none;
            height: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 6%);
            transition: all 0.2s ease-out;
            font-size: 14px;
            color: #6c757d;
            padding-inline: 20px;
            .services {
              display: flex;
              flex-direction: column;
              row-gap: 24px;
            }
          }
          &.active {
            position: relative;
            background: var(--primary-color);
            .tab-title {
              color: var(--text-white);
            }
            &::after {
              content: " ";
              clip-path: polygon(100% 50%, 0 0, 0 100%);
              background: var(--primary-color);
              display: inline-block;
              width: 24px;
              height: 100%;
              position: absolute;
              right: -23px;
              top: 0;
            }
          }
        }
      }
      .tabs-content {
        flex-grow: 1;
        .tab-content {
          display: none;
          justify-content: space-between;
          .services {
            padding: 16px 0;
            display: flex;
            flex-direction: column;
            row-gap: 24px;
          }
        }
      }
      &:has(#tab-1.active) {
        #tab-content-1 {
          display: flex;
        }
      }
      &:has(#tab-2.active) {
        #tab-content-2 {
          display: flex;
        }
      }
      &:has(#tab-3.active) {
        #tab-content-3 {
          display: flex;
        }
      }
      &:has(#tab-4.active) {
        #tab-content-4 {
          display: flex;
        }
      }
      &:has(#tab-5.active) {
        #tab-content-5 {
          display: flex;
        }
      }
      &:has(#tab-6.active) {
        #tab-content-6 {
          display: flex;
        }
      }
      &:has(#tab-7.active) {
        #tab-content-7 {
          display: flex;
        }
      }
    }
  }
}

#testimonials {
  background: var(--bg-gray);
  padding: 48px 0;
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .section-title {
        font-weight: 600;
      }
    }
    .swiper3 {
      width: 100%;
      height: 460px;

      .swiper-slide {
        width: 100%;
        .card {
          border: 1px solid rgba(0, 0, 0, 0.175);
          border-radius: 8px;
          height: 100%;
          box-sizing: border-box;
          background: #fff;
          padding: 16px;
          display: flex;
          align-items: center;
          column-gap: 80px;

          .media-wrapper {
            position: relative;
            .quote-icon {
              position: absolute;
              width: 51px;
              top: -25px;
              left: 50px;
            }
            img {
              display: block;
              object-fit: contain;
              margin: auto;
              border-radius: 8px;
            }
          }

          .content {
            row-gap: 16px;
            .desc {
              color: #212529bf;
              line-height: 24px;
            }
            .info {
              h4 {
                color: var(--primary-color);
                font-weight: 600;
              }
              span {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

#expertConsultant {
  padding: 48px 0;
  .container {
    display: flex;
    align-items: center;
    column-gap: 100px;
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      align-items: flex-start;
      .m-media-wrapper {
        display: none;
        width: 100%;
        img {
          border-radius: 8px;
          margin: 0 auto;
          display: block;
        }
      }
      .section-title {
        font-weight: 300;
        text-wrap: balance;
      }
      .inner-content {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        .desc {
          text-wrap: balance;
        }
        h3 {
          color: var(--primary-color);
          font-size: 32px;
          font-weight: 400;
          line-height: normal;
        }
        h4 {
          font-weight: 500;
          font-size: 20px;
        }
      }
      .btn {
        padding: 6px 48px;
        font-weight: 500;
      }
    }
    .media-wrapper {
      img {
        border-radius: 8px;
      }
    }
  }
}

#businessGrowth {
  position: relative;
  & > img {
    width: 100%;
    height: 700px;
    display: block;
    object-fit: cover;
  }
  .container-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    .container {
      display: flex;
      align-items: center;
      border-radius: 24px;
      background-color: var(--primary-color);
      background-image: url("https://www.fusionfirst.com/insurance-lp-2023/assets/images/Intersect.svg");
      background-repeat: no-repeat;
      background-position: right;
      height: 500px;
      .content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 48px;
        row-gap: 32px;
        .inner-content {
          display: flex;
          flex-direction: column;
          row-gap: 4px;
          .section-title {
            color: var(--text-white);
            line-height: 58px;
            font-size: 48px;
          }
          .desc {
            color: var(--text-white);
          }
        }
        .btn {
          display: flex;
          align-items: center;
          column-gap: 12px;
          padding: 8px 16px;
        }
      }
      .media-wrapper {
        width: 50%;
        height: 100%;
        position: relative;
        img {
          display: block;
          position: absolute;
          /* width: 100%; */
          /* object-fit: contain; */
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

#aboutUs {
  padding: 48px 0;
  background: var(--bg-gray);
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .section-title {
        font-weight: 500;
      }
      .desc {
        line-height: normal;
        color: #6c757d;
      }
    }
    .extras {
      display: flex;
      align-items: stretch;
      column-gap: 24px;
      .media-wrapper {
        width: 50%;
      }
      .accordian-wrapper {
        width: 50%;
        .accordion {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          .accordion-item {
            overflow: hidden;
            background: #FFFFFF;
            border-radius: 8px;
            .accordion-title {
              border-bottom: 1px solid rgba(0, 0, 0, 6%);
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 16px 20px;
              font-size: 20px;
              cursor: pointer;
            }
            .accordion-content {
              height: 0;
              border-bottom: 1px solid rgba(0, 0, 0, 6%);
              transition: all 0.2s ease-out;
              font-size: 14px;
              color: #6c757d;
              padding-inline: 20px;
            }
            &.active {
              .accordion-title {
                color: var(--primary-color);
                font-weight: bold;
              }
              .accordion-content {
                padding-top: 16px;
                padding-bottom: 16px;
                /* padding: 16px 0px; */
                height: auto;
              }
            }
          }
        }
      }
    }
    .usp-wrapper {
      display: flex;
      justify-content: space-between;
      .usp {
        text-align: center;
        h3 {
          font-weight: 600;
          color: var(--primary-color);
          font-size: 64px;
          line-height: 76px;
        }
      }
    }
  }
}

#countries {
  padding: 32px 0;
  .container {
    display: flex;
    justify-content: space-between;
    .card {
      display: flex;
      align-items: center;
      column-gap: 16px;
      .content {
        h3 {
          font-weight: 600;
          font-size: 16px;
          color: #6c757d;
        }
        span {
          color: #6c757d;
        }
      }
    }
  }
}

/* ------------------------------ footer styles ----------------------------- */
footer {
  background: #212529;
  padding: 24px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      color: var(--text-white);
      font-size: 14px;
    }
    .certifications {
      display: flex;
      align-items: center;
      column-gap: 16px;
    }
  }
}

/* ------------------------ Styles for responsiveness ----------------------- */
@media (max-width: 991px) {
  /* ------------------------------ common styles ----------------------------- */
  .container {
    max-width: 720px;
    box-sizing: border-box;
  }

  .section-title {
    font-size: 36px;
  }

  header {
    & > nav.container {
      .logo {
        width: 110px;
      }
      .nav-content {
        display: none;
      }
    }
  }

  #introSection {
    padding-top: 48px;
    .container {
      flex-direction: column;
      .media-wrapper {
        display: none;
      }
    }
  }
  
  #ourClients {
    .container {
      .swiper {
        display: none;
      }
    }
  }

  #services {
    .container {
      .tabbing {
        .tabs {
          background: #FFFFFF;
          width: 100%;
          .tab {
            overflow: hidden;
            flex-direction: column;
            padding: 0;
            border-bottom: 0;
            .tab-title {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid rgba(0, 0, 0, 6%);
              padding: 12px 16px;
              svg {
                display: block;
              }
            }
            .m-tab-content {
              display: block;
              width: 100%;
            }
            &.active {
              background: initial;
              color: var(--text-white);
              position: relative;
              &::after {
                display: none;
              }
              .tab-title {
                color: var(--primary-color);
                font-weight: bold;
              }
              .m-tab-content {
                padding-top: 16px;
                padding-bottom: 16px;
                /* padding: 16px 0px; */
                height: auto;
              }
            }
          }
        }
        .tabs-content {
          display: none;
        }
      }
    }
  }

  #testimonials {
    .container {
      .swiper3 {
        height: 480px;
        .swiper-slide {
          .card {
            padding-top: 48px;
            align-items: flex-start;
            column-gap: 24px;
            .media-wrapper {
              width: 30%;
              img {
                width: 100%;
              }
            }
            .content {
              width: 70%;
            }
          }
        }
      }
    }
  }

  #expertConsultant {
    .container {
      flex-direction: column;
      .media-wrapper {
        display: none;
      }
      .content {
        .m-media-wrapper {
          display: block;
        }
      }
    }
  }

  #businessGrowth {
    .container-wrapper {
      box-sizing: border-box;
      padding: 0 12px;
      .container {
        height: auto;
        flex-direction: column;
        .content {
          width: 60%;
          padding-top: 32px;
          padding-left: 0;
          align-items: center;
          .inner-content {
            align-items: center;
            text-align: center;
            .section-title {
              font-size: 24px;
              line-height: normal;
            }
          }
        }
        .media-wrapper {
          img {
            position: initial;
            width: 100%;
          }
        }
      }
    }
  }

  #aboutUs {
    .container {
      .extras {
        flex-direction: column;
        row-gap: 24px;
        .accordian-wrapper {
          width: 100%;
        }
        .media-wrapper {
          width: 100%;
          height: 360px;
        }
      }
      .usp-wrapper {
        flex-wrap: wrap;
        row-gap: 16px;
        .usp {
          width: 50%;
        }
      }
    }
  }

  #countries {
    .container {
      .card {
        flex-direction: column;
        row-gap: 8px;
        .content {
          text-align: center;
          h3 {
            display: none;
          }
        }
      }
    }
  }

  footer {
    .container {
      flex-direction: column;
      row-gap: 12px;
      .certifications {
        row-gap: 12px;
        flex-wrap: wrap;
      }
    }
  }
}


@media (max-width: 480px) {
  .section-title {
    font-size: 28px;
    line-height: normal;
  }

  #introSection {
    padding-top: 28px;
  }

  #ourClients {
    padding-bottom: 32px;
  }

  #successStories {
    .swiper2 {
      box-sizing: border-box;
      height: 360px;
    }
  }

  #testimonials {
    .container {
      .swiper3 {
        height: 640px;
        .swiper-slide {
          .card {
            flex-direction: column;
            padding-top: 16px;
            row-gap: 24px;
            .media-wrapper {
              width: 100%;
              img {
                display: none;
              }
              .quote-icon {
                display: block;
                position: initial;
              }
            }
            .content {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #businessGrowth {
    & > img {
      height: 540px;
    }
    .container-wrapper {
      .container {
        box-sizing: border-box;
        .content {
          width: 100%;
        }
      }
    }
  }

  #aboutUs {
    .container {
      .usp-wrapper {
        .usp {
          h3 {
            font-size: 36px;
          }
        }
      }
    }
  }

  footer {
    .container {
      text-align: center;
      .certifications {
        justify-content: center;
      }
    }
  }
}